<!-- About Section -->
	<section class="success" id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>About {{ AUTHOR }}</h2>
	                <hr class="star-light">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4 col-lg-offset-2">
	                {{ ABOUT_LEFT }}
</div>
	            <div class="col-lg-4">
	                {{ ABOUT_RIGHT }}
</div>
	            <div class="col-lg-8 col-lg-offset-2 text-center">
	                {{ ABOUT_CENTER }}
	            </div>
	        </div>
	    </div>
	</section>