<!-- About Section -->
	<section class="success" id="about">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>About</h2>
	                <hr class="star-light">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-4 col-lg-offset-2">
	                <p>And then the battle's not so bad? What are you hacking off? Is it my torso?! 'It is!' My precious torso! What are you hacking off? Is it my torso?! 'It is!' My precious torso! Shut up and get to the point! Ummm…to eBay?</p>
	            </div>
	            <div class="col-lg-4">
	                <p>Saving the world with meals on wheels. I am the Doctor, and you are the Daleks! You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better? I hate yogurt. It's just stuff with bits in.</p>

	            </div>
	            <div class="col-lg-8 col-lg-offset-2 text-center">
								<p>Be quiet! You don't vote for kings. The Knights Who Say Ni demand a sacrifice!</p>

	            </div>
	        </div>
	    </div>
	</section>
