<!-- About Section -->
	<section class="success" id="services">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>Services</h2>
	                <hr class="star-light">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-lg-3 col-lg-offset-0 text-center">
	                <h3>A thing I do</h3>
									<p>Our love isn't any different from yours, except it's hotter, because I'm involved. Have you ever tried just turning off the TV, sitting down with your children, and hitting them? And so we say goodbye to our beloved pet, Nibbler, who's gone to a place where I, too, hope one day to go. The toilet. Quite possible. We live long and are celebrated poopers.</p>
							</div>
	            <div class="col-lg-3 col-lg-offset-1 text-center">
	                <h3>Another thing I do</h3>
										<p>Ow, my spirit! Bender, quit destroying the universe! Leela, are you alright? You got wanged on the head. This opera's as lousy as it is brilliant! Your lyrics lack subtlety.</p>
	            </div>
	            <div class="col-lg-3 col-lg-offset-2 text-center">
								<h3>Tech</h3>
									<p>Look, everyone wants to be like Germany, but do we really have the pure strength of 'will'? Fetal stemcells, aren't those controversial? You, minion. Lift my arm.</p>
	            </div>
	        </div>
	    </div>
	</section>
